.campo-texto{
    margin: 24px 0;
}

.campo-texto label{
   
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.campo-texto input{
    width: 100%;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0.06) ;
    border: none;
    font-size: 16px;
    padding: 38px;
    box-sizing: border-box;
}
